*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  
  html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
    outline: none;
    border: none;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  .btn-primary{
      color: #fff;
      background-color: red;
  }
  .btn-secondary{
      color: #fff;
      background-color: blue;
  }
  .btn-tertiary{
      color: #fff;
      background-color: green;
  }
  
  .Table-box  ul {
      border: 1px solid black;
      list-style-type: none;
      padding: 0;
  }
  .Table-box .list{
      display: inline-flex;
      margin-left: 15px;

  }
  .Table-box  ul li {
   border-bottom: 1px solid;
   padding: 8px 8px;
   text-align: center;
  }
  .Table-box h2 {
      text-align: center;
  }
  .dev-plan ul li:first-child {
      background-color: red;
      font-weight: bold;
  }
  .pro-plan ul li:first-child{
      background-color: blue;
      font-weight: bold;
  }
  .pre-plan ul li:first-child{
      background-color: green;
      font-weight: bold;
  }
  .Table-box .list ul li{
      width: 200px;
  }
  .Table-box .list ul li button{
      width: 180px;
      border-radius: 5px;
      height: 30px;
  }
  .Table-box  ul{
      border-radius: 5px;
  }
  .list ul li:nth-child(2){
    font-weight: bold;

  }