* {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body a {
  text-decoration: none;
}

.container {
  background: none;
  width: 720px;
  margin: 0 auto;
}
.container .list {
  display: block;
  width: 630px;
  border: 1px solid #8e99ad;
  margin: auto;
}
.container h2 {
  width: 400px;
  margin-left: 45px;
  font-weight: bold;
  font-size: 36px;
}
.container .active {
  display: flex;
  justify-content: space-between;
  background-color: #3385ff;
  padding: 15px 16px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
}
.container .active .edit-content {
  padding: 6px 10px;
  background-color: white;
  border-radius: 2px;
}
.container .list .list-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(145, 145, 149, 0.26);
  padding: 18px 18px;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid #c5a8a8;
}
.container .list .list-item .item span {
  background-color: #3f7fe0be;
  padding: 2px 4px;
  color: rgb(10, 10, 10);
  border-radius: 4px;
  font-size: 18px;
}
.list-item .total-item ul {
  list-style-type: none;
  display: flex;
}
.list-item .total-item ul li {
  padding: 8px 8px;
  text-decoration: none;
  border: 1px solid #f2f2f2;
  background-color: #fff;
}
.list-item .total-item ul li a {
  color: #5891e6b0;
}
