body {
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body a {
  text-decoration: none;
}
.container {
  display: flexbox;
  margin: auto;
  width: 25%;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.container .header h2 {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
}
.container .form {
  width: 400px;
}
.container .form .form-user {
  display: inline-block;
}
.container .form .icon img {
  position: relative;
  right: 25px;
  top: 5px;
}
.form .input {
  width: 350px;
  height: 20px;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
}
.container .choose {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.container .choose button {
  padding: 5px 20px 5px 20px;
  background-color: #234fd3d3;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.container .info {
  width: 400px;
  text-align: center;
  margin-top: 10px;
}

.container .info .button-info {
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 30px;
}
.container .info .button-info .btn-face {
  padding: 5px 10px;
  background-color: #7588c4de;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.container .info .button-info .btn-google {
  padding: 5px 10px;
  background-color: #e72828b4;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}
