*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
.login-box{
   border: 1px solid #000;
   padding:  30px;

   border-radius: 15px;
}
.login-box h2{
    padding-bottom: 10px;
}
.form-text{
    border: 1px solid #000;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none
}
.form-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    transition: .4s;
    opacity: 1;
    overflow: hidden;
}
.button:hover{
    opacity: 0.7;
}
.btn-primary{
    color: #fff;
    background-color: blue;
}
.btn-secondary{
    color:#fff;
    background-color: #fb5252;
}


.btn-round{
  text-align: center;
  display:flex;
  justify-content: space-between;
}